/* Login.css */
.background {
  width: 100%;
  min-height: 100vh; 
  background-color: #f0f0f0;
  z-index: -1; 
}

.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background-color: #797979;
}

.loginContainer {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 90%; 
}

.forgotPassword {
  margin-top: 10px;
  text-align: center;
}

.forgotPassword span {
  color: #f48e28;
  cursor: pointer;
}

.css-cuefkz-MuiContainer-root {
  height: auto;
}

.LoginBtn {
  background-color: #f48e28 !important;
  width: 50%; 
  border-radius: 20px;
  margin-top: 20px; 
}

form {
  width: 100%; 
}
