/* .Foodcard{
display: flex;
align-items: center;
justify-content: center;
border-radius: 20px !important;
}
.FoodIcon{
    background-color: #F5DDC4;
    width: 16%;
    height: 43px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#f48e28;
    
}
.css-46bh2p-MuiCardContent-root:last-child {
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
   
}
.foodContent
{
    height: 35vh !important;
    margin-left: 21px; 


}
.Foodcards{
    display: flex;
    justify-content: space-around;
    width: 65%;
}*/





.Foodcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: 20px !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Add shadow for better card appearance */
  }
  
  .FoodIcon {
    background-color: #f5ddc4;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f48e28;
    margin-bottom: 10px; /* Add margin for better spacing */
  }
  
  .foodContent {
    padding: 20px; /* Add padding for better text spacing */
  }

  @media only screen and (max-width: 768px) {
    .Foodcards {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      gap: 20px;
      flex-direction: column;
    }

  }
  