.ItemProducts {
    color: #f48e28;
  }
  
  /* .productMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%; 
    align-items:center;
    margin-top:10px;
  } */
  .itemMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
  }
  

  .productMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    width: 90%; 
    margin-top: 10px;
  }
  
  
  .Items {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    padding: 0 20px; 
    width:100%;
    justify-content:center;
  }
  
  .moreProduct {
    background-color: #f48e28;
    border-radius: 25px;
    height: 39px;
    width: 206px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px; 
  }
  
  .moreProduct {
    color: white !important;
  }
  
  .moreProduct>div {
    border-radius: 25px;
    background-color: white;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ArrowForwardIosIcon {
    color: #f48e28 !important;
    font-size: 20px !important;
  }
  
  @media only screen and (max-width: 768px) {
    .productMenu {
      justify-content: center !important; 
      align-items: flex-start; 
      width: 100%;
    }
    .itemMenu{
      margin-top:0vh !important;
    }
  }
  .itemMenu{

    /* margin-top:90vh;
    margin-left:7%;
    margin-right:7%; */
  }
  