.ItemProducts {
    color: #f48e28;
  }
  
  .productMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%; 
  }
  
  .Items {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    padding: 0 20px; 
  }
  
  .moreProduct {
    background-color: #f48e28;
    border-radius: 25px;
    height: 39px;
    width: 206px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px; 
  }
  
  .moreProduct {
    color: white !important;
  }
  
  .moreProduct>div {
    border-radius: 25px;
    background-color: white;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ArrowForwardIosIcon {
    color: #f48e28 !important;
    font-size: 20px !important;
  }
  
  @media only screen and (max-width: 768px) {
    .productMenu {
      justify-content: center; 
      align-items: flex-start; 
    }
  }
  .itemMenu{
    margin-top:10px;
    margin-left:7%;
    margin-right:7%;
  }
  