
.navbar {
  background-color: #fff;
  width:100%;
}

.logo {
  width: 50px;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li {
  margin: 0 15px;
  font-size: 18px;
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 5px 10px;
  border-radius: 20px;
  margin-left: 20px;
}

.search-box input {
  padding: 6px;
  background: transparent;
  border: none;
  outline: none;
  color: #000000;
  font-size: 18px;
}

.search-box input::placeholder {
  color: #020202;
}

.search-box img {
  width: 20px;
  cursor: pointer;
}

.cart {
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
  height: auto;
  overflow: hidden;
}

.cart .material-icons {
  position: relative;
  top: 4px;
  z-index: 1;
  font-size: 24px;
  color: white;
}

.cart .count {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  font-size: 11px;
  border-radius: 50%;
  background: #d60b28;
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: block;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.menu.active ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  z-index: 1;
}

@media only screen and (max-width: 768px) {

  .navbar{
    height: 62px;
    margin-top: 19px;
  }
  .logo{
    margin-left: -83%;
    width: 37px;
    margin-top: -24%;
 
  }
  .foodBox{
    display:none !important;
  }
  
  .menu ul {
    display: none;
  }

 
  .menu {
    position: absolute;
    top:20px;
    right: 10px; /* Shift to the right side */
    margin-top: 10% !important;
    margin-right: 113% !important;
  }

  .menu.active ul {
    border-radius:19px;
    box-shadow: -1px 0px 20px 3px;
    width:347px !important;
  }
  .submit {
    display: flex !important ;
    justify-content: center !important;
    align-items: center !important;
    width: 74px !important;
    height: 32px !important;
    color: #fff !important;
    background: #f48e28;
    border-radius: 20px;
    font-size: 14px;
}
.navbar-container>header{
  left:0%;
  /* width:86%; */
  border-radius:18px;
  cursor:pointer;

}
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit {
  margin-top: 10px;
}


@media only screen and (min-width: 769px) {
  .signup-container {
    flex-direction: row;
    align-items: center;
  }

  .submit {
    margin-top: 0;
    margin-left: 10px;
  
  }

  
}

/* Hamburger Animation */
.HamBurger.active .MuiIconButton-label .MuiSvgIcon-root {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

/* Close icon animation */
.HamBurger .MuiSvgIcon-root {
  transition: transform 0.3s ease;
  margin-top: -232%;
  margin-left: 814%;
}