.Feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  padding: 0 20px; 
}

.feedbackContent {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

.feedbackContent > img {
  width: 30%; 
  max-width: 300px; 
}

@media only screen and (max-width: 768px) {
  .feedbackContent > img {
    width: 100%; 
  }
}
}

.feedbackImg{
  width:35%
}
