.Footer {
    margin-top: 5%;
    background-color: rgb(246, 246, 246);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
  }
  
  .footerSections {
    width: 100%;
    max-width: 300px;
    padding: 20px;
  }
  
  .footerSection1, .footerSection2, .footerSection3, .footerSection4 {
    margin-bottom: 20px;
  }
  
  .subscribeButton {
    background-color: #f48e28 !important;
    border-radius: 25px;
  }
  
  .subscribeButton {
    border-radius: 10px;
  }
  
  img, svg {
    width: 10%;
    vertical-align: middle;
}
  
  @media only screen and (max-width: 768px) {
    .Footer {
      justify-content: space-between;
      /* width:86% !important; */
      margin-top: 5%;
      background-color: rgb(246, 246, 246);
      display: flex;
      flex-wrap: wrap;
      display:flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 20px;
      flex-direction:column;
    }
  
    .footerSections {
    width:70%
    }
  }
  