@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kotta+One&display=swap');
body {
    font-family: "Kotta One", serif;
    font-weight: 500;
    font-style: normal;
  
  }
  
  *{
    font-family: "Kotta One", serif;
    font-weight: 500;
    font-style: normal;
  
  
  }