


.container {
  padding: 20px;
}

.HedingVal {
  font-size: 3rem;
}

.HeadDiffColor {
  color: #f48e28;
}

.OrderButton {
  background-color: #EFAB68 !important;
  box-shadow: 2px 2px 1px;
  font-family: "Kanit", sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.sectionOne, .sectionTwo {
  padding: 20px;
}

.foodBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.foodBox > * {
  flex: 1 1 45%;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .foodBox > * {
    flex-basis: 100%;
  }
  
  .sectionTwo {
    margin-top: 20px;
  }

}
