.mobile-menu-container {
  padding: 20px;
}

.heading-value {
  font-size: 3rem;
}

.headline-diff-color {
  color: #f48e28;
}

.order-button {
  background-color: #EFAB68 !important;
  box-shadow: 2px 2px 1px;
  font-family: "Kanit", sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.sectionOne, .sectionTwo {
  padding: 20px;
}

.food-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.food-box > * {
  flex: 1 1 45%;
  margin-bottom: 20px;
}

.order-now {
  margin-top: 2%;
}

.text1 {
  color: black ;
  font-size: 180%;
  margin-top: -25%;
}

.text2 {
  color: black;
  font-size: 141%;
}

@media (max-width: 756px) {
  .mobile-menu-container {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

  .food-box > * {
    flex-basis: 100%;
  }
 
    .sectionTwo {
      display: none;
      color: black !important;
    }
  
  
  .sectionOne {
    width: 100% !important;
  }

  .text1 {
    color:black !important;
    font-size: 118%;
    margin-top: 0;
  }

  .text2 {
    margin-left: 1%;
    font-size: 111%;
  }

  .item {
    margin-left: -8%;
    margin-top: 54%;
  }
}
